.feed-header {
    min-height: 106px;
    background: $gray300;
    width: 100%; 
    padding-left: 50px;
    padding-right: 50px;
    @include respond-below(sm) {
        padding-left: 20px;
        padding-right: 20px;
    }
    border-bottom: 1px solid $gray700;
    .feed-menu{
        ul{
            padding: 0px;
            margin: 0px;
            li{
                display: inline-block;
                padding: 0px 25px;
                @include respond-below(sm) {
                    padding: 0px 5px;
                }
                &:first-child{
                    padding-left: 0px;
                }
                a{
                    color: $gray700;
                    font-size: 20px;
                    @include respond-below(sm) {
                        font-size: 16px;
                    }
                    display: block;
                    padding: 0 0 17px 0;                    
                    &:hover{
                        text-decoration: none;
                        color: $gray1000;
                        border-bottom: 2px solid $darkBlue700;
                        @include boxShadow($efeedMenuShadows);
                    }
                }
                &.active{
                    a{
                        color: $gray1000;
                        border-bottom: 2px solid $darkBlue700;
                        @include boxShadow($efeedMenuShadows);
                    }
                }
            }
        }
    }
    .feed-header-right {
        position: relative;
        a{
            position: relative;
            display: inline-block;
            margin: 0 10px;
            &:last-child{
                margin-right: 0px;
            }
            svg{
                width: 24px;
                height: 24px;
                fill: $gray800;
            }
            .comment-number{
                position: absolute;
                @include rounded(50px);
                color: $white;
                background: $darkBlue700;
                font-size: 12px;
                padding: 5px;
                line-height: 12px;
                top: -10px;
                right: -10px;
                min-width: 22px;
                min-height: 20px;
                text-align: center;
            }
        }
    }
}

.more-dp {
    display: none;
    background: $white;
    padding: 5px 0 5px;
    @include rounded(10px);
    @include boxShadow($moreDPShadows);
    position: absolute;
    z-index: 3;
    right: 0px;
    top: 35px;
    width: 150px;
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        width: 0px;
        right: 10px;
        height: 0px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent; 
        display: inline-block;
        vertical-align: middle;        
      }
    div{
        display: block;
        padding: 0px 5px;
        text-align: left;
        a{
            color: $gray800;
            text-decoration: none;
            font-size: 14px;
            margin: 0px !important;
        }        
    }
}