.right-sidebar {
    background: $gray300;
    padding: 30px 0px;
    @include respond-below(sm) {
        position: absolute;
        z-index: 2;
        left: -100vw;
    }
    h3{
        padding: 0px 30px 0 30px;
        margin: 0 0 20px 0;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: $gray800;
    }
}
.recent-images-icon {
    @extend .rounded-image;
}
.user-activity {
    @extend .activity-details;
}
.recent-activity {
    li{
        padding: 10px 30px;
        &:hover{
            background: $gray700;
        }
    }
    .recent-images-icon {
        width: 40px;
        height: 40px;
    }
    .user-activity {
        width: calc(100% - 55px);
    }
}
.who-to-follow {
    li{
        padding: 10px 30px;
        &:hover{
            background: $gray700;
        }
    }
    .recent-images-icon {
        @extend .rounded-image;
        width: 55px;
        height:55px;
    }
    .user-activity {
        @extend .activity-details;
        width: calc(100% - 70px);
    }
}
