
// Theme color scheme

$darkBlue1000: #46529e  ; //Event bg dark color
$darkBlue900: #4d5aa1; //Event bg light color
$darkBlue800: #8b91c8; //Event arrow color
$darkBlue700: #546fe1; // menu active border
$skyBlue1000: #2dbaee; //Event header color
$gray1000: #4c4947; // Feed menu hover color
$gray900: #33323a; // Feed heading color
$gray800: #999a97;  // Feed menu normal color
$gray700: #d5d5d5; // border color
$gray600: #dbdadf; // comment icon
$gray500: #e7e7e7; // light border
$gray400: #f9f9f9; // Feed comment bg color
$gray300: #eeeeee; // sidebar bg color




$contentMaxWidth: 1400px; // Satge max width

$eventHeaderShadows: -5px 7px 10px 5px rgba(0,0,0,0.25);
$efeedMenuShadows:  inset 0 -7px 6px -7px rgba(0,0,0,0.4);
$moreDPShadows: -2px 3px 5px 0px rgba(0,0,0,0.15);
$eventBigFont: 48px;

.activity-details {
    color: $gray800;
    font-size: 13px;
    .user-name {
        color: $gray1000;
        font-weight: 600;
    }
    .event-name {
        color: $gray800;
        font-weight: 600;
    }
    .user-designation{
        color: $gray800;
        font-weight: 600;
        display: block;
    }
    .comment-time{
        display: block;
        font-size: 13px;
    }
}